.application{
}

.login,
.home,
.default-layout,
.cuisine{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: #f24352;

		.friendList{
			background-color: #fee2aa;
		}

		&.dark{
			.friendList{
				h3{
					color: #87333f;
				}
				li{
					background-color: rgba(0, 0, 0, 0.2);
				}
			}
		}
}

.login,
.home{
	background: url('../img/logo.png') no-repeat center 20% #f24352;
	background-size: 240px;
}

.home{
	.btn:nth-child(1){
		background: #87333e;
		margin: 0;
	}

	.btn:nth-child(2){ 
		color: #87333e;
		background: #fff;
		margin: 0;
	}
}

.content{
	flex: 1 0 auto;
	width: 100%;
}

.footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	flex: none;
}

.default-layout{
	h1{
		padding: 3vh;
	}
}


.friendList{

	float: left;
	width: 100%;
	background:inherit; 
	border-bottom: 2px solid rgb(255, 255, 255);
	position: relative;
	margin-bottom: 45px;
	padding: 0px 0 15px;

		ul{
			text-align: center;
		}

  		li{
  			position: relative;
  			z-index: 99;
  			display: none;
  			opacity: 0;
  			width: 50px;
  			height: 50px;
  			border: 3px solid rgba(255,255,255, 0.3);
  			border-radius: 50%; 
  			padding: 0;
  			text-align: center;
  			margin-top: 15px;
  			color: #fff;
  			transform: scale(0);
  			transition: 0.3s linear opacity;
			display: inline-block;
			transform: scale(1);
			opacity: 1;
			margin-right: 5px;
			overflow: hidden;

  				&.show{
  				}

  				span{
  					position: absolute;
  					top:0;
  					right: 0;
  					bottom: 0;
  					left: 0;
  					padding: 14px 0 14px 0;		
  					background: rgba(0,0,0,.3);	
  					border-radius: 50%;
  				}

  				&.complete{
  					background: url('../img/tick-finished.png') no-repeat center center #fff!important;
  					background-size: 26px;
  					text-indent: -9099px;
  				}
  		}

  		h3{
  			position: relative;
  			font-size: 15px;
  			z-index: 9;
  		}

		&:after{
			content: '';
			width: 40px; 
			height: 40px;
			position: absolute;
			left: 0;
			right: 0;
			margin: auto;
			display: block; 
			bottom: -22px;
			transform: rotate(45deg);
			background:inherit;
			border-bottom: 2px solid rgb(255, 255, 255);
			border-right: 2px solid rgb(255, 255, 255);
  		}
}

.back-button{
  position: fixed;
  cursor: pointer;
  display: block;
  top: 30px;
  left: 30px;
  width: 14px;
  height: 22px;
  background: url(../img/chevron-back.png);
  background-size: cover;
}


// .login,
// .home{
// 	background: url('../img/home-bg.jpg');
// 	background-size: cover;
// }


.login__signup{
	display: block;
	text-align: center;
	padding: 10px 0;
	color: #fff;
}

.signup__form-show{
	.signup__login{
		display: none;
	}
	.signup__confirm{
		display: block;
	}
}

.signup__login{
	display: block;
}

.signup__confirm{
	display: none;
}

.cuisineText{
  position: absolute;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  padding-top: 30px;
  left: 0;
  right: 0;
  text-align: center;

}	

.GMap, .GMap > div{
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: #FFF;
}


.cuisine{

	position: relative;
	background-size: 200px;
	background-position: center 190px;
	background-repeat: no-repeat;
	transition: background-color 0.2s linear;

	@media screen and (min-width: 600px) {
		background-size: 400px;
	}

	.cuisine__bg{
		width: 100%;
		max-width: 400px;
		height: 200px;
		display: block;
		background-size: contain;
		background-position: center;
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		background-repeat: no-repeat;
		opacity: 1;
		transition: opacity 0.3s linear 0.2s;

			&.animate--left{
				background-position: -70px center;
				padding-top: 30px;
				opacity: 0;
				transition: all 0.3s linear;
			}

			&.animate--right{
				background-position: 150px center;
				padding-top: 30px;
				opacity: 0;
				transition: all 0.3s linear;
			}
	}

	.friendList{
		transition: background-color 0.2s linear;
		h3{
			color: #fff;
		}
		li{
			background-color: transparent;
		}
	}

	.container{
		padding: 0;
	}


	&.italian{
		background-color: #05ad48;
		.cuisine__bg{
			background-image: url('../img/italian.png');
		}
		.friendList{
			background-color: #05ad48;
		}
	}

	&.american{
		background-color: #0f6cc2;
		.cuisine__bg{
			background-image: url('../img/american.png');
		}
		.friendList{
			background-color: #0f6cc2;
		}
	}

	&.spanish{
		background-color: #f24252;
		.cuisine__bg{
			background-image: url('../img/spanish.png');
		}
		.friendList{
			background-color: #f24252;
		}

	}

	&.fastfood{
		background-color: #f12828;
		.cuisine__bg{
			background-image: url('../img/fastfood.png');
		}
		.friendList{
			background-color: #f12828;
		}
	}

	&.indian{
		background-color: #ff975b;
		.cuisine__bg{
			background-image: url('../img/indian.png');
		}
		.friendList{
			background-color: #ff975b;
		}
	}

	&.sandwichplace{
		background-color: #558ecd;
		.cuisine__bg{
			background-image: url('../img/sandwich.png');
		}
		.friendList{
			background-color: #558ecd;
		}
	}

	&.thai{
		background-color: #23c9a8;
		.cuisine__bg{
			background-image: url('../img/thai.png');
		}
		.friendList{
			background-color: #23c9a8;
		}
	}

	&.chinese{
		background-color: #e242ab;
		.cuisine__bg{
			background-image: url('../img/chinese.png');
		}
		.friendList{
			background-color: #e242ab;
		}
	}

	&.cafe{
		background-color: #a96953;
		.cuisine__bg{
			background-image: url('../img/cafe.png');
		}
		.friendList{
			background-color: #a96953;
		}

	}

	&.seafood{
		background-color: #92d8e1;
		.cuisine__bg{
			background-image: url('../img/seafood.png');
		}
		.friendList{
			background-color: #92d8e1;
		}
	}

	&.bakery{
		background-color: #f2a0c7;
		.cuisine__bg{
			background-image: url('../img/bakery.png');
		}
		.friendList{
			background-color: #f2a0c7;
		}

	}	

	&.japanese{
		background-color: #add38d;
		.cuisine__bg{
			background-image: url('../img/japanese.png');
		}
		.friendList{
			background-color: #add38d;
		}

	}

	&.mexican{
		background-color: #6ebc2f;
		.cuisine__bg{
			background-image: url('../img/mexican.png');
		}
		.friendList{
			background-color: #6ebc2f;
		}
	}
}

.cuisineAnswers{
	position: absolute;
	bottom:30px;
	left: 20px;
	margin: 0;
	right: 20px;
}

.btn-half{
	input{
		width: 50%;
		float: left;
		font-size: 16px!important;
		height: 65px!important;
	}
}

.vote{
	display: block;
	width: 62.5px;
	height: 62.5px;
	background: url(../img/vote-no.png);
	background-size: cover;
	float: left;
	position: relative;
	text-indent: -9999px;
    flex: 0 0 62.5px;
    z-index: 999;
}

.vote--yes{
	background-image: url(../img/vote-yes.png);
	float: right;
}
.tick{
	position: relative;
	&:after{
		position: absolute;
		background-image: url(../img/tick.png);
		background-size: cover;
		content : '';
		display: block;
		top:0;
		right: 20px;
		bottom: 0;
		width: 15px;
		height: 15px;
		margin: auto;
	}
}

.eatCopy{
	text-transform: uppercase;
	color: #fff;
	font-size: 22.5px;
	text-align: center;
	display: inline-block;
	margin-top: 50px;
}


.pricing{ 
	height: 30vh;
	position: relative;
	background-image: url('../img/step1.png'); 
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;

	h3{
		color: #ffefb3;
		font-size: 15px;
	}
	input{
		position: absolute;
		bottom: 0;
		width: 100%;
	}
	h5{
		
	}
	&.pricing--1{
		background-image: url('../img/slider-1.png');
	}
	&.pricing--2{
		background-image: url('../img/slider-2.png');
	}
	&.pricing--3{
		background-image: url('../img/slider-3.png');
	}
	&.pricing--4{
		background-image: url('../img/slider-4.png');
	}

	@media screen and (min-width: 600px) {
		background-size: 400px;
	}
}

.pricing-info{
	float: left;
	width: 100%;
	margin-top: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-size: 15px;
}

.distance{ 
	height: 30vh;
	position: relative;
	background-image: url('../img/slider-1-distance.png'); 
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;

	h3{
		color: #ffefb3;
		font-size: 15px;
	}
	input{
		position: absolute;
		bottom: 0;
		width: 100%;
	}
	h5{
		
	}
	&.distance--1{
		background-image: url('../img/slider-1-distance.png');
	}
	&.distance--2{
		background-image: url('../img/slider-2-distance.png');
	}
	&.distance--3{
		background-image: url('../img/slider-3-distance.png');
	}
	&.distance--4{
		background-image: url('../img/slider-4-distance.png');
	}

	@media screen and (min-width: 600px) {
		background-size: 400px;
	}
}

.distance-info{
	float: left;
	width: 100%;
	margin-top: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-size: 15px;
}

.plate-map{
	position: relative;
	text-align: center;
		img{
			display: inline-block;
		}

		&:after{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: url(../img/map.png) no-repeat center center;
			background-size: auto 100%;
		}
}

.venue{
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #ccc;
}

.loading{
	position: fixed;
	left: 0;
	right: 0;
	width: 100px;
	height: 100px;
	border-radius: 10px;
	background: rgba(0,0,0,1);
	margin: auto;
	z-index: 9999;
	top: 0;
	bottom: 0;
	color: #fff;
	text-align: center;
	font-size: 9px;
	text-transform: uppercase;
	padding: 70px 10px 0 10px;

		&:empty{
			display: none;
		}

		&:after{
			content: '';
			position: absolute;
			top:0;right:0;
			bottom:0;left:0;
			margin: auto;
			background: url(../img/loading.gif) no-repeat;
			width: 20px;
			height: 40px;
		}
}

.venue-info{
	h1{
		padding-bottom: 0;
	}

	p{
		text-align: center;
		text-transform: uppercase;
		margin: 20px 0px 50px 0px;
		color: rgb(255, 255, 255);
	}
}

.venue-link{
	margin: 30px 0!important;
}

.alternatives{
	color: rgb(255, 255, 255);
	padding-bottom: 100px;
	float: left;
	width: 100%;
		p, li, ul{
			float: left;
			width: 100%;
		}
	p{
		text-align: center;
		color: #fff;
		margin: 10px 0 20px 0;
	}
	ul{
		border-top: 1px solid rgb(255, 255, 255);
	}
	li{
		padding: 20px;
		border-bottom: 1px solid rgb(255, 255, 255);
			.other-price{
				float: right;
			}
	}
}

.info-box{
	position: fixed;
	display: none;
	left: 0;
	right: 0;
	margin: auto;
	padding: 20px;
	background: rgba(0, 0, 0, 0.7);
	color: #FFF;
	top: 56px;
	bottom: 0;
	overflow: scroll;
	font-family: calibri;
	text-align: center;
	z-index: 99999;
	transform: translateY(100%);
	transition: all 300ms linear;

		h1{
			font-family: arvo;
			margin: 20% 0 20px 0;
		}

		p{
			  padding: 0 20px 10px 20px;
			  line-height: 1.5;
		}

		&.show{
			transform: translateY(0%);
			display: block;
		}

		.close{
			position: fixed;
			top: 13px;
			right: 9px;
			width: 39px;
			height: 30px;
			margin: auto;
			font-size: 30px;
			color: #FFF;
		}
}
